.form-content {
	background-color: #EEE;
	padding: 20px 20px 10px 20px;
	margin-top: 30px;
}

.monetary {
	color: Green;
	font-weight: bold;
}

button.module {
	background-color: #e6e9ed;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	font-weight: bold;
	transition: 0.4s;
}

button.module.active, button.module:hover {
	background-color: #ddd;
}

button.module .icon {
	float: right;
	padding-top: 2px;
}
/* button.module .icon.glyphicon-ok { */
/* 	color: Green; */
/* } */
/* button.module .icon.glyphicon-remove { */
/* 	color: Red; */
/* } */

div.panel {
	padding: 0 18px;
	background-color: white;
}